.github
.specify/
**/.specify/
.vscode

design-system
old
/backend/bff/.idea
/backend/bff/docs
/backend/bff/target
/backend/svc-autenticacao/.mvn

/backend/.idea
/backend/svc-perfil/.mvn
/backend/svc-vinho/.mvn
/backend/svc-adega/.mvn
/backend/svc-avaliacao/.mvn
/backend/svc-degustacao/.mvn
/backend/svc-ia/.mvn
/backend/svc-gamificacao/.mvn
/backend/svc-notificacao/.mvn
/backend/svc-analytics/.mvn
frontend/shell/package-lock.json
frontend/mfe-autenticacao/package-lock.json
frontend/mfe-vinhos/package-lock.json
frontend/mfe-degustacao/package-lock.json
frontend/mfe-sommelier/package-lock.json
frontend/mfe-dashboard/package-lock.json
frontend/mfe-perfil/package-lock.json
frontend/shared-auth/package-lock.json
frontend/shared-state/package-lock.json
